/* .contenedor {
    position: relative;
} */

.div1, .div2 {
    /* position: absolute; */
    width: 80%; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta la altura según tus necesidades */
}

.div1 {
    background-color: #ff0000; /* Color del primer div */
    z-index: 1;
}

.div2 {
    background-color: #00ff00; /* Color del segundo div */
    z-index: 1;
    /*top: 20px; /* Puedes ajustar la posición vertical */
    /*left: 20px; Puedes ajustar la posición horizontal */
}
