@font-face {
    font-family: Black Han Sans;
    src: url(../Fuentes/BlackHanSans-Regular.ttf);
}

@font-face {
    font-family: Alfa Slab One;
    src: url(../Fuentes/AlfaSlabOne-Regular.ttf);
}
@font-face {
    font-family: Passion One;
    src: url(../Fuentes/PassionOne-Regular.ttf);
}
@font-face {
    font-family: Hooltwood One SC;
    src: url(../Fuentes/HoltwoodOneSC-Regular.ttf);
}
@font-face {
    font-family: Open Sans;
    src: url(../Fuentes/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: #070001; /*url(../Imagenes/fondo1.jpg); */
    background-size:375px 281px;
    font-family: Alfa Slab One;
    margin: 0;
}

header {
    width: 100%;
    height: 30px;
    background: #070001;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header #opciones {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #1d5635;
    top: 0;
    right: 0;
    text-align: end;
}

header #opciones a {
    font-weight: bolder;
    color: #070001;
    display: inline-block;
    padding: 5px 10px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
}

header #opciones a:hover {
    background: #F6AC3E;
}

header #opciones .RegresarInicio {
    height: 30px;
    float: left;
    margin-left: 10px;
    vertical-align: top;
    padding: 0;
    font-size: 10px;
    padding-bottom: 3px;
}
header #opciones .RegresarInicio:hover {
    background:none;
}
header #opciones .RegresarInicio #Logo_p {
    width: 150px;
    height: 30px;
}
/*Seccion compra*/
/*.container{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
}
.form-box {
    background: linear-gradient(to bottom right, #F6AC3E,#F25826,#c22929); // background-color: #36a264;
    border: 1px solid white;
    border-radius: 5px;
    padding: 40px;
    max-width: 700px;
    margin: 0 auto;
  }

  .Compra{
    display: flex;
    justify-content: space-between;
  }


  .contenedor_izq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .Container_inputTel{
    border: 3px solid #070001;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  .input_tipoOrden{
    border: 3px solid #070001;
    border-radius: 5px;
    padding: 10px;
  }
  .input_Direccion{
    border: 3px solid #070001;
    border-radius: 5px;
    padding: 10px;
  }
  
  .input_telefono,
  .input_tipoOrden,
  .input_Direccion,
  .input_Metodo {
    margin-right: 20px;
  }
  
  .Cuenta {
    margin-left: 20px;
  }
  
  .contenedor_der {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }*/

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: linear-gradient(to bottom right, #42c87a,#297c4c,#1d5635);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    text-align: center;
}

.Compra {
    display: flex;
    justify-content: space-between;
}

.contenedor_izq,
.contenedor_der {
    width: 48%; /* Ajusta el tamaño según tus preferencias */
}

/* Añade un poco de espacio entre los elementos para mayor claridad */
.Container_inputTel,
.input_tipoOrden,
.input_Direccion,
.input_Metodo,
.Cuenta {
    margin-bottom: 20px;
}

/* Estilo para los inputs */
input[type="text"],input[type="tel"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    font-size: small;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.ListaItems{
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    max-height: 200px; 
    overflow-y: auto;
}
.ListaItems::-webkit-scrollbar {
    width: 12px;
}

.ListaItems::-webkit-scrollbar-thumb {
    background-color: #888;
}

.ListaItems::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.itemCarrito{
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.itemCarrito p {
    margin: 0;
    font-size: 14px;
}

/* Estilo para los botones */
button {
    width: 100%;
    padding: 10px;
    background: #070001;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 255, 60, 0.5), .125rem .125rem 1rem rgba(94, 239, 4, 0.5);
}



/* Añade un poco de espacio entre los elementos para mayor claridad */
.Container_inputTel,
.input_tipoOrden,
.input_Direccion,
.input_Metodo,
.Cuenta {
    margin-bottom: 20px;
}

/* Estilo para los inputs radio y sus etiquetas */
.input_tipoOrden input,
.input_Metodo input {
    display: inline-block;
    margin-right: 10px;
}



/*FOOTER*/
footer {
    z-index: 2;
    text-transform: capitalize;
    width: 100%;
    height: 450px;
    padding: 0;
    padding-bottom: 20px;
    background-color: rgb(35, 31, 32); /* #c22d2e; */
}

footer h1,footer h3{
    color:#36a264;
} 

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
}

.footer_box {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.footer_box .logo {
    padding: 0;
}

.footer_box .logo img {
    height: 100px;
    width: 100px;
    padding-left: 0px;
}

.footer_box p {
    color: whitesmoke;
    border: #070001;
    border-color: #070001;
}

.footer_box a {
    text-decoration: none;
}

.footer_box #_1{
    color: whitesmoke;/* #0037ad;*/
}
.footer_box #_2{
    color: whitesmoke;/*#009c00;*/
}
.footer_box #_3{
    color: whitesmoke;/*#ff6b16;*/
}
.footer_box #_4{
    color: whitesmoke;/*#b60d0d;*/
}

.terminos {
    padding: 0;
    max-width: 350px;
    font-weight: 500;
    color: #070001;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.box__copyright p {
    margin-top: 20px;
    color: #36a264;
}

.box__copyright hr {
    border: none;
    height: 1px;
    width: 1000px;
    background-color: #36a264;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul li {
        margin: 10px 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}