@font-face {
    font-family: Black Han Sans;
    src: url(../Fuentes/BlackHanSans-Regular.ttf);
}

@font-face {
    font-family: Alfa Slab One;
    src: url(../Fuentes/AlfaSlabOne-Regular.ttf);
}
@font-face {
    font-family: Passion One;
    src: url(../Fuentes/PassionOne-Regular.ttf);
}
@font-face {
    font-family: Hooltwood One SC;
    src: url(../Fuentes/HoltwoodOneSC-Regular.ttf);
}
@font-face {
    font-family: Open Sans;
    src: url(../Fuentes/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: #eee;
    /*background: #070001;  /*url(../Imagenes/fondo1.jpg); */
    background-size:375px 281px;
    font-family: Alfa Slab One;
    margin: 0;
}

header {
    width: 100%;
    height: 30px;
    background: #070001;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header #opciones {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #F25826;
    top: 0;
    right: 0;
    text-align: end;
}

header #opciones a {
    font-weight: bolder;
    color: #070001;
    display: inline-block;
    padding: 5px 10px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
}

header #opciones a:hover {
    background: #F6AC3E;
}

header #opciones .RegresarInicio {
    height: 30px;
    float: left;
    margin-left: 10px;
    vertical-align: top;
    padding: 0;
    font-size: 10px;
    padding-bottom: 3px;
}
header #opciones .RegresarInicio:hover {
    background:none;
}
header #opciones .RegresarInicio #Logo_p {
    width: 30px;
    height: 30px;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
}
.form-box {
    background: linear-gradient(to bottom right, #F6AC3E,#F25826,#c22929);/* background-color: #F6D109;*/
    border: 1px solid white;
    border-radius: 5px;
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
  
  .form-box h2{
    text-align: center;
    margin: 20px;
  }

  .form-group {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="date"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    /*background-color: #F6AC3E;
    border: 2px solid #070001;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;*/
    background: #F6AC3E;
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
  }
  button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  /* CSS 
  .button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
*/

/*FOOTER*/
footer {
    z-index: 2;
    text-transform: capitalize;
    width: 100%;
    height: 450px;
    padding: 0;
    padding-bottom: 20px;
    background-color: rgb(35, 31, 32); /* #c22d2e; */
}

footer h1,footer h3{
    color:#F6D109;
} 

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
}

.footer_box {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.footer_box .logo {
    padding: 0;
}

.footer_box .logo img {
    height: 100px;
    width: 100px;
    padding-left: 0px;
}

.footer_box p {
    color: whitesmoke;
    border: #070001;
    border-color: #070001;
}

.footer_box a {
    text-decoration: none;
}

.footer_box #_1{
    color: whitesmoke;/* #0037ad;*/
}
.footer_box #_2{
    color: whitesmoke;/*#009c00;*/
}
.footer_box #_3{
    color: whitesmoke;/*#ff6b16;*/
}
.footer_box #_4{
    color: whitesmoke;/*#b60d0d;*/
}

.terminos {
    padding: 0;
    max-width: 350px;
    font-weight: 500;
    color: #070001;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.box__copyright p {
    margin-top: 20px;
    color: #F6D109;
}

.box__copyright hr {
    border: none;
    height: 1px;
    width: 1000px;
    background-color: #F6D109;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header ul li {
        margin: 10px 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}
  